@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.large');
    box-shadow: theme('boxShadow.sm');
  }
  
  * {
    @apply transition-all duration-100;
  }

  .container {
    @apply md:w-[1200px] mx-auto px-5 md:px-0;
  }

  .bg-green-01 {
    background: #EAF5D7;
  }

  .btn {
    @apply py-4 px-12 bg-green-100 rounded text-white font-semibold;
  }

  .btn:hover {
    @apply opacity-80;
  }

  .page-wrapper {
    backgroun: #E5E5E5;
    @apply relative overflow-hidden;
  }

  .testimonial-1 {
    @apply mx-8 z-10 absolute opacity-60 overflow-hidden -top-5;
  }


  .testimonial-2 {
    @apply mx-12 z-0 absolute opacity-40 overflow-hidden  top-0;
  
  }


   .text_1 {
      animation: text1;
    }

    .text_2 {
      animation: text2;
    }

    .text_3 {
      animation: text3;
    }


    .text_1, .text_2,.text_3 {
      overflow: hidden;
      white-space: nowrap;
      padding: 7px 0;
      text-align: left;
      width: 0;
      display: inline-block;
      position: relative;
      animation-duration: 20s;
      animation-timing-function: steps(10,end);
      animation-iteration-count: infinite;
    }

  
    @keyframes text1 {
      0%,25% {
        width: 0;
      }
      10%, 20% {
        width: 7ch;
      }
    }

    @keyframes text2 {
      0%,10%,20%,30%,35%,55%{
        width: 0;
      }
      
      40%,50% {
        width: 9ch;
      }
    }


    @keyframes text3 {
      0%,10%,20%,30%,40%,50%,60%,65%,95% {
        width: 0;
      }
      
      70%, 90% {
        width: 6ch;
      }
    }


}
